@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    background-color: #c0f2f8;
    font-family: inter, helvetica, sans-serif;
    color: #353434;
}

div {
    display: flex;
    padding-top: 58px;
    padding-bottom: 22px;
}

h1 {
    margin: 0 auto;
    font-size: 38px;
}

.containner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    padding-top: 0;
    padding-bottom: 22px;
}

.projetos {
    padding-top: 0;
}

.blocos {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    padding: 0;
}

.blocos:hover {
    transform: scale(1.1);
    transition: 500ms;
}

a {
    text-decoration: none;
    height: 333px;
}

h2 {
    margin: 0 auto;
    width: fit-content;
}

img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border: solid 2px #f8961e;
    border-radius: 18px;
}



@media(max-width: 675px) {

    .containner {
        display: block;
    }

    img {
        width: 98%;
    }

}

@media(max-width: 900px) {
    .containner {
        grid-template-columns: 1fr 1fr;
    }
}
