<div>
    <h1>Portfolio</h1>
</div>

<div class="containner">

    <div class="projetos">

        <div class="blocos">

            <a routerLink="/loopstudios" target="_blank">

                <h2>Loopstudios</h2>

                <img src="../assets/portfolio-img/loopstudios-img.jpg" width="500px" alt="Projeto Loopstudios">
            </a>

        </div>
    </div>
    <div class="projetos">

        <div class="blocos">

            <a routerLink="/trackingintro" target="_blank">

                <h2>Tracking Intro</h2>

                <img src="../assets/portfolio-img/tracking-intro-img.png" width="500px" alt="Projeto Tracking Intro">
            </a>

        </div>

    </div>

    <div class="projetos">

        <div class="blocos">

            <a routerLink="/calculadora" target="_blank">

                <h2>Calculadora</h2>

                <img src="../assets/portfolio-img/calculadora-img.png" width="500px" alt="Calculadora">
            </a>

        </div>

    </div>

    <div class="projetos">

        <div class="blocos">

            <a routerLink="/carsrental" target="_blank">

                <h2>Cars Rental</h2>

                <img src="../assets/portfolio-img/carsrental-img.png" width="500px" alt="Projeto Cars Rental">
            </a>

        </div>

    </div>

    <div class="projetos">

        <div class="blocos">

            <a routerLink="/cartaodeperfil" target="_blank">

                <h2>Cartão de Perfil</h2>

                <img src="../assets/portfolio-img/cartao-de-perfil-img.png" width="500px" height="500px"
                    alt="Projeto Cartão de Perfil">
            </a>

        </div>

    </div>

    <div class="projetos">

        <div class="blocos">

            <a routerLink="//jogodavelha" target="_blank">

                <h2>Jogo da Velha</h2>

                <img src="../assets/portfolio-img/jogo-img.png" width="500px" alt="Calculadora">
            </a>

        </div>

    </div>

</div>