<div class="containner">

    <div class="info">
        <h2>Sobre o <br><a>Desenvolvedor</a></h2>

        <p>
            Sou o Lucas, estudante de programação com foco em front end. <br>
            Atualmente busco entrar na area de desenvolvimento web front end. <br>
            Gosto de estar sempre aprendendo coisas novas e continuar evoluindo cada dia mais.
        </p>
    </div>

    <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/gh-pages/assets/portfolio-img/minha-foto.jpg" width="300px" alt="Foto do Dev">

</div>
