<body>
  
  <header>
    <div class="navbaar">
      
      <img class="logo" src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/logo.svg" alt="Logo Loopstudios">

      <img class="burger"  (click)="ativado()" src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/icon-hamburger.svg" alt="Burger">

      <nav>
        <ul>
          <li><a>About</a></li>
          <li><a>Careers</a></li>
          <li><a>Events</a></li>
          <li><a>Products</a></li>
          <li><a>Support</a></li>
        </ul>
      </nav>
    </div>

    <div class="disabled" id="menu">

      <div class="mob">
        <nav class="mob">
          <ul class="mob">
            <li class="mob"><a>About</a></li>
            <li class="mob"><a>Careers</a></li>
            <li class="mob"><a>Events</a></li>
            <li class="mob"><a>Products</a></li>
            <li class="mob"><a>Support</a></li>
          </ul>
        </nav>
      </div>

    </div>

    <div class="title">
      <h1>Immersive<br>experiences<br>that deliver</h1>
    </div>
  </header>

  <div class="corpo">

    <div class="banner">

      <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/desktop/image-interactive.jpg" alt="Imagem de demonstração">

      <div class="bloco">
        <h1>The leader in <br>interactive VR</h1>
        <br>
        <p> Founded in 2011, Loopstudios has been producing world-class virtual reality
          projects for some of the best companies around the globe. Our award-winning
          creations have transformed businesses through digital experiences that bind
          to their brand.</p>
      </div>

    </div>

    <div class="creations">
      <h1>Our creations</h1>
      <button>See all</button>
    </div>

    <div class="fotos">
      <div>
        <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/desktop/image-deep-earth.jpg " alt="Deep earth">
        <h1>Deep <br> earth</h1>
      </div>
      <div>
        <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/desktop/image-night-arcade.jpg" alt="Night arcade">
        <h1>Night <br> arcade</h1>
      </div>
      <div>
        <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/desktop/image-soccer-team.jpg" alt="Soccer team VR">
        <h1>Soccer <br> team VR</h1>
      </div>
      <div>
        <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/desktop/image-grid.jpg" alt="The grid">
        <h1>The <br> grid</h1>
      </div>
      <div>
        <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/desktop/image-from-above.jpg" alt="From up above VR">
        <h1> From up <br> above VR</h1>
      </div>
      <div>
        <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/desktop/image-pocket-borealis.jpg" alt="Pocket borealis">
        <h1> Pocket <br> borealis</h1>
      </div>
      <div>
        <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/desktop/image-curiosity.jpg" alt="The curiosity">
        <h1>The <br> curiosity</h1>
      </div>
      <div>
        <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/desktop/image-fisheye.jpg" alt="Make it fisheye">
        <h1>Make it <br> fisheye</h1>
      </div>

    </div>

    <div class="fotos-mobile">

      <div>
        <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/mobile/image-deep-earth.jpg " alt="Deep earth">
        <h1>Deep <br> earth</h1>
      </div>
      <div>
        <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/mobile/image-night-arcade.jpg" alt="Night arcade">
        <h1>Night <br> arcade</h1>
      </div>
      <div>
        <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/mobile/image-soccer-team.jpg" alt="Soccer team VR">
        <h1>Soccer <br> team VR</h1>
      </div>
      <div>
        <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/mobile/image-grid.jpg" alt="The grid">
        <h1>The <br> grid</h1>
      </div>
      <div>
        <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/mobile/image-from-above.jpg" alt="From up above VR">
        <h1> From up <br> above VR</h1>
      </div>
      <div>
        <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/mobile/image-pocket-borealis.jpg" alt="Pocket borealis">
        <h1> Pocket <br> borealis</h1>
      </div>
      <div>
        <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/mobile/image-curiosity.jpg" alt="The curiosity">
        <h1>The <br> curiosity</h1>
      </div>
      <div>
        <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/mobile/image-fisheye.jpg" alt="Make it fisheye">
        <h1>Make it <br> fisheye</h1>
      </div>

    </div>

    <button class="btn-mobile">See all</button>

  </div>

  <footer>

    <img class="logo2" src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/logo.svg" alt="Logo Loopstudios">

    <nav>
      <ul>
        <li>About</li>
        <li>Careers</li>
        <li>Events</li>
        <li>Products</li>
        <li>Support</li>
      </ul>
    </nav>

    <div class="icons">
      <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/icon-facebook.svg" alt="facebook">
      <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/icon-twitter.svg" alt="Twitter">
      <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/icon-pinterest.svg" alt="Pinterest">
      <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/2cc4a6c682182ed354b08f02b81186e3eb160117/assets/loopstudios-img/icon-instagram.svg" alt="Instagram">
    </div>

    <p>© 2021 Loopstudios. All rights reserved.</p>
    <h5>Desenvolvido por: LUCAS FERREIRA FREITAS</h5>

  </footer>

</body>