<div class="containner">

    <div>
        <h2>Contato</h2>
    </div>

    <div class="icons">
        <div class="tel">
            <img src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/gh-pages/assets/portfolio-img/logo_whatsapp_telephone_handset_icon_143174.png" alt="Telefone">
            <h4>(11) 97964-8179</h4>
        </div>

        <div class="links">
            <a href="https://www.linkedin.com/in/lucas-ferreira-freitas-0b376a174/" target="_blank"><img
                    src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/gh-pages/assets/portfolio-img/logo_linkedin_icon_143191.png" alt="Linkedin"></a>
            <a href="https://github.com/devlucasfreitas" target="_blank"><img
                    src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/gh-pages/assets/portfolio-img/logo_github_icon_143196.png" alt="Github"></a>
            <a href="https://www.instagram.com/lucasfreitas.jpg/" target="_blank"><img
                    src="https://raw.githubusercontent.com/devlucasfreitas/portfolio/gh-pages/assets/portfolio-img/1485482189-instagram_78679.png" alt="Instagram"></a>
        </div>
    </div>

</div>