<body>

  <header class="containner">

    <img src="../assets/tracking-intro-img/logo.svg" alt="Logo">
    <nav>
      <ul class="containner">
        <li>PRODUCT</li>
        <li>FEATURES</li>
        <li>PRICING</li>
        <li>.</li>
        <li>LOGIN</li>
      </ul>
    </nav>

    <div class="burger" (click)="ativar()"><img src="../assets/tracking-intro-img/icon-hamburger.svg" alt=""></div>

  </header>

  <div class="disabled" id="menu">
    <ul class="menu-mobile">
      <li>PRODUCT</li>
      <li>FEATURES</li>
      <li>PRICING</li>
      <li>LOGIN</li>
    </ul>
  </div>

  <div class="corpo containner">

    <div class="conteudo">

      <div class="containner">
        <div class="new">NEW</div>
        <div class="sub">MONOGRAPH DASHBOARD</div>
      </div>

      <h1>POWERFUL INSIGHTS <br> INTO YOUR TEAM</h1>
      <p>Project planning and time tracking <br> for agile teams</p>

      <div class="containner demo">
        <div class="button">SCHEDULE A DEMO</div>
        <div class="txt">TO SEE A LIVE PREVIEW</div>
      </div>
    </div>

    <div class="displays">
      <img src="../assets/tracking-intro-img/illustration-devices.svg" alt="">
    </div>

  </div>

</body>